<ion-header>
  <ion-toolbar>
    <ion-title class="subtitle ion-text-wrap"> Grocery Store</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)= "openMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/cart']" >
        <ion-icon slot="icon-only" name="cart-sharp" color="primary"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/profile']" >
        <ion-icon slot="icon-only" name="person-circle-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let product of products">
    <app-product [product]="product"></app-product>
  </div>

  <div class="text-center m-5">
    <ion-button (click)="sendNotification()" class="regular">
      Send Notification
    </ion-button>
  </div>

</ion-content>

