<ion-header>
  <ion-toolbar>
    <ion-title class="subtitle ion-text-wrap"> Shopping Cart</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)= "openMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']" >
        <ion-icon slot="icon-only" name="storefront-sharp" color="primary"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/profile']" >
        <ion-icon slot="icon-only" name="person-circle-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let product of order.products">
    <app-itemcart [productOrder]="product"></app-itemcart>
  </div>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="subtitle text-center" style="color: black ; border-right: 1px solid #6c757d" size="auto">
        Total Products: {{amount}}
      </ion-col>
      <ion-col class="subtitle text-center" style="color: black" size="auto">
        Total Price: ${{total}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" style="margin: 20px" expand="block" (click)="newOrder()">
          Buy All
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-footer>


