<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Grocery store 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  
    <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div>
    <h1 class="title">This is a title</h1>
    <h4 class="subtitle">Resume</h4>
    <p class="regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat in a repudiandae? Incidunt nobis deleniti alias cumque ut voluptatibus voluptas quisquam, sunt nemo dolor dignissimos, praesentium, modi velit? Voluptate, fugit.</p>
  </div>
  
</ion-content>
